@import '@Styles/defs/colors.module.scss';

.getMore {
  margin: 6.5rem 0;
  text-align: center;
  width: 100%;
}

.button {
  background: $default_white;
  border: 0.1rem solid $distinct_color;
  color: $distinct_color;
  padding: 1.6rem 12rem;

  &:hover {
    cursor: pointer;
  }
}
