@import '@Styles/defs/colors.module.scss';
@import '@Styles/defs/mixins.module.scss';
@import '@Styles/defs/props.module.scss';

.container {
  width: 100%;
}

.title {
  font-size: 3.2rem;
  font-weight: normal;
  margin-bottom: 7rem;
}

.goBack {
  background: none;
  border: none;
  color: $distinct_color;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

.article {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

.imageContainer {
  width: 100%;
}

.image {
  width: 100%;
}

.contentWrapper {
  width: 100%;
}

.meta {
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;

  margin: 2.5rem 0;
}

.articleTitle {
  color: $full_black_color;
  font-weight: normal;
}

.content {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 2rem;
}

.link {
  @include buttonLink;
  margin-top: 3rem;
}

@media screen and (min-width: $screen_tablet) {
  .image {
    height: 100%;
    object-fit: cover;
  }

  .imageContainer {
    height: 35rem;
  }

  .meta {
    display: block;

    & > span {
      margin-right: 2.5rem;
    }
  }

  .link {
    width: 50%;
  }
}

@media screen and (min-width: $screen_desktop) {
  .imageContainer {
    height: 45rem;
  }

  .contentWrapper {
    width: 60rem;
  }
}

@media screen and (min-width: $screen_bigDesktop) {
  .imageContainer {
    height: 55rem;
  }
}
