@import '@Styles/defs/colors.module.scss';
@import '@Styles/defs/props.module.scss';

.container {
  flex-grow: 1;
  text-align: right;
}

.clearButton {
  background: $default_white;
  border: 0.1rem solid $distinct_color;
  color: $distinct_color;
  padding: 0.4rem 4rem;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: $screen_desktop) {
  .clearButton {
    width: unset;
  }
}
