@import '@Styles/defs/props.module.scss';

@mixin dropDown {
  margin-bottom: 1rem;
  width: 100%;

  @media screen and (min-width: $screen_desktop) {
    margin-bottom: 0;
    margin-right: 1.6rem;
    width: 16rem;
  }
}

@mixin buttonLink {
  background: $distinct_color;
  color: $default_white;
  display: inline-block;
  padding: 1.7rem;
  text-align: center;
  width: 100%;
}
