// Numbers
$infinity: -9999999;

// Screen widths
$screen_smallMobile: 0px;
$screen_mobile: 576px;
$screen_tablet: 768px;
$screen_desktop: 992px;
$screen_bigDesktop: 1200px;

// Default
$default_desktopWidth: 960px;
$default_font: 1.6rem 'Arial', sans-serif;
