@import '@Styles/defs/colors.module.scss';

:global {
  .Dropdown-root.is-open {
    border-bottom: 0.1rem solid $default_grey;
  }

  .Dropdown-option.is-selected {
    color: $distinct_color;
  }
}

.dropDown {
  width: 15rem;

  &:hover {
    cursor: pointer;
  }
}

.menu {
  border: 0.1rem solid $default_grey;
  border-bottom: none;
  border-top: none;
}

.placeholder {
  border-bottom: 0.1rem solid $default_grey;
  padding: 0.7rem 0;
}

.menu > div {
  padding: 1.6rem;
}

.menu > div:hover {
  background: $default_grey;
}
