@import '@Styles/defs/colors.module.scss';

.error {
  margin: 6.5rem 0;
  text-align: center;
  width: 100%;
}

.message {
  color: $alert_color;
  font-size: 2rem;
  height: 10rem;
  width: 10rem;
}
